
<h3>@ViewBag.Message</h3>
<br />
<br />
<div class="wrapper">
    <div class="divider">
        <h2 class="divider_header"><span class="divider_title">Business Requirement</span></h2>
        To develop a website where users can order coffee and merchandise online. Also to provide an online platform for the business by means to expand.
    </div>
    <div class="divider">
        <h2 class="divider_header"><span class="divider_title">Business Problem</span></h2>
        Sales decline due to rising demand for online deliveries due to post-pandemic effects.
    </div>
    <div class="divider">
        <h2 class="divider_header"><span class="divider_title">Business Goal</span></h2>
        To accomodate sales to people who are interested in online deliveries.
    </div>
</div>
